html{
    background-color: blueviolet;
}


h1{
    color: pink;
    background-color: black;
    text-align: center;
    margin-left: 50px;
    padding: 10px;
}

h1:hover{
    color: blue;
    background-color: black;
    padding: 15px;
}

h2{
    color: white;
    background-color: black;
    text-align: center;
    padding: 10px;
    margin-right: 50px;
}

h2:hover{
    color: red;
    background-color: black;
    padding: 15px;
}